
html {
    height: 100%; 
    background: linear-gradient(to bottom, #e0bbe4, #957dad);
    background-size: cover; 
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #ffccf9, #d4a0ff);
    align-items: center;
    position: relative; 
}

.note {
    position: absolute;
    top: 20px;
    width: 250px;
    background: #D291BC; 
    color: white;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.left-note {
    left: 20px;
}

.right-note {
    right: 20px;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
    color: #B565A7; 
    margin-bottom: 20px;
}

.role-container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    margin-bottom: 20px; 
}

.role {
    text-align: center;
}

.role-image {
    width: 150px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.bouton-rose-mauve {
    background-color: #D291BC; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.bouton-rose-mauve:hover {
    background-color: #B565A7; 
}
