body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #ffccf9, #d4a0ff);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.character {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.character.left .character-image {
    position: absolute;
    right: 0;
    height: 100%;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

.character.right .character-image {
    position: absolute;
    left: 0;
    height: 100%;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.main-content {
    flex: 2;
    text-align: center;
    padding: 20px;
}

.character-image {
    width: auto;
    height: 100%;
    border-radius: 15px;
}

h1 {
    color: #6a0dad;
    font-size: 3em;
    margin: 0;
}

p {
    color: #333;
    font-size: 1.2em;
}

.user-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.user-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.user-form input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

.btn {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5a0ba5;
}


.start-btn {
    background-color: #ff69b4; 
    color: white;
}

.start-btn:hover {
    background-color: #ff1493; 
}

