

body {
    font-family: Arial, sans-serif;
    background-color: #ffcce6; 
    color: #5e0049; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px; 
    height: auto;
}

h1 {
    color: #d147a3; 
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

#username-display {
    font-size: 1.2em;
    color: #800080; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
}

.cell {
    background-color: #ffd6e7; 
    border: 2px solid #ff66b2; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cell:hover {
    transform: scale(1.05);
    background-color: #ff99cc; 
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d147a3; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b33978; 
}

.container {
    background-color: #ffe6f2; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}